.search input{
    height: 30px;
    width: 500px;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    border-radius: 15px;

}
.bar img{
    margin-right: 15px;

}

.search img{
    display: flex;
    justify-content: space-between;
    border: none;
  height: 15px;
  cursor: pointer;
  
  
}
.t{
    border: 1px solid white;
    display: flex;
    flex-direction: row;

}
.search{
    display: flex;
    justify-content: center;
    margin-right: 500px;

   
    
}
.micro button{
    height: 20px;
     border: none;
    border-radius: 10px;
    background-color: white;
    margin-top: -1px;
   

}
.video img{
    border: none;
    margin-left: 350px;
    background-color: white;
    border-radius: 10px;
    top: 0;
    margin-top: 25px;
    
}
.bell img{
    border:none;
    border-radius: 15px;
    background-color: white;
    margin-left: 400px;
    top: 0;
    margin-top: 25px;
}
.rcb img{
    border: none;
    margin-left:430px ;
    top: 0;
    margin-top: 25px;
}
.home{
     height: 20px;
     justify-content: left;
     margin-top: 30px;
     margin-right: 1465px;
}
.home pre{
    /* padding: 15px; */
    margin-left: 55px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 95px;
    
}
.short{
    height: 25px;
    margin-right: 1465px;
    margin-top: 25px;

}
.short pre{
    margin-left: 53px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 139px;
}
.sub{
    height: 25px;
    margin-right:1465px ;
    margin-top: 19px;
}
.sub pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    margin-top:186px ;
    position: fixed;

}
.lib{
    height: 25px;
    margin-right: 1465px;

}
.lib pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    margin-top: 230px;
    position: fixed;

}
.his{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.his pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    margin-top: 270px;
}
.you{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.you pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 308px;
}
.later{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.later pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 350px;

}
.like{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.like pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 390px;

}
.trend{
    height: 25px;
    margin-right: 1465px;
}
.trend pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 435px;
}
.music{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.music pre{
    margin-left: -510px;
    position: absolute;
    top: 0;
    margin-top: 470px;
}
.movie{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.movie pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    position: fixed;
    margin-top: 475px; 
}
.live{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.live pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    margin-top: 515px;
}
.game{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.game pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    margin-top: 555px;
}
.new{
    height: 25px;
    margin-right: 1465px;
    margin-top: 15px;
}
.new pre{
    margin-left: 50px;
    position: absolute;
    top: 0;
    margin-top: 595px;
}
body{
    background-color:white;
}
.grid{
    background-color: white;
    height: 80px;
    
}
.search input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -465px;
    position: fixed;
    top: 0;
    margin-top: 25px;
}
.grid1{
    background-color: white;
    height: 860px;
    width: 150px;
}
.card{
    height: 568px;
    width: 1500px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px #a3a3a3;
    resize: none;
    overflow: hidden;
    margin-left: 200px;
    position: fixed;
    top:0 ;
    margin-top: 100px;

}
.rocky img{
     border-radius: 15px;
     display: flex;
     justify-content: space-between;
     margin-right: 100px;
}
.rocky1 img{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 45px;
    
}
.akash{
    position: absolute;
    top: 0;
    margin-top: 500px;
}
.kantara{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-top: 21px;
    margin-right: 660px;
    
}
.music{
    height: 30px;
    position: absolute;
    top: 0;
    margin-left: 560px;
    margin-top: 172px;
}
.sat20 img{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-top: 250px;
    margin-right:660px;
}
.colors{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-left: 570px;
    margin-top: 20px;
}
.aus{
    border-radius: 10px;
    margin-left: 570px;
    position: absolute;
    top: 0;
    margin-top: 175px;
}
.hr{
    margin-left: 0px;
}
.vj{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-top: 250px;
    margin-right:90px ;
}
.anad{
    border-radius: 10px;
    position: absolute;
    top: 0;
    margin-right: 320px;
    margin-top: 410px;
}
.yoyo{
    border-radius: 15px;
    margin-right: 1230px;
    margin-top: 60px;
}
.st{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-top: 460px;
    margin-right: 650px;

}
.tv9{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-top: 460px;
    margin-right: 80px;
}
.sl{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-right: 380px;
    margin-top: 20px;
}
.mufti{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-right:380px ;
    margin-top: 460px;
}
.t10{
    border-radius: 15px;
    position: absolute;
    top: 0;
    margin-right:380px ;
    margin-top: 250px;
}
.card img:hover{
    border: 5px solid  black;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transform: scale(1.2);
    cursor: pointer;
}