@font-face {
    font-family: "CiscoSans";
    src: url("./fonts/CiscoSansTTLight.woff") format("woff");
    font-weight: normal;
}

body {
    font-family: 'CiscoSans', 'Lato', 'Helvetica', 'sans-serif';
}

body::-webkit-scrollbar {
    width: 3px;
}

body {
    scrollbar-width: thin;
}